#phone-container {
    background: #eaeaea;

    .inner-app {
        .phone-app-top {
            height: 92%;

            .inner-phone-container {
                height: 100%;
                display: none;
                overflow-y: auto;
                overflow-x: auto;

                &.active-section {
                    display: block;
                }

                &[data-section="keypad"] {
                    color: #1e1e1e;

                    .keypad-top {
                        height: 51%;

                        input {
                            padding: 15px 0;
                            height: 100%;
                            font-size: 50px;
                            text-align: center;
                        }
                    }

                    .keypad-keys {
                        background: #ffffff;
                        border-top: 1px solid #1e1e1e;
                        position: absolute;
                        width: 100%;
                        bottom: 8.5%;

                        .keypad-key {
                            width: 32%;
                            padding: 10px;
                            display: inline-block;
                            text-align: center;
                            font-size: 40px;
                        }
                    }
                }

                &[data-section="history"] {
                    .call {
                        padding: 10px;
                        background: #ffffff;
                        color: #1e1e1e;
                        border-bottom: 1px solid #1e1e1e;

                        &:hover {
                            background: #c4c4c4;
                        }

                        i {
                            font-size: 20px;
                            padding: 10px;
                            pointer-events: none;

                            &.icon-outgoing {
                                color: #ff0000;
                            }
    
                            &.icon-incoming {
                                color: #1e8100;
                            }
                        }
                        
                        span {
                            display: inline-block;
                            width: 45%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            font-size: 15px;
                            line-height: 15px;
                            pointer-events: none;
                        }

                        .timestamp {
                            max-width: 44%;
                            text-align: right;
                            float: right;
                            line-height: 40px;
                            font-size: 14px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            pointer-events: none;
                        }
                    }
                    
                    .call-actions {
                        z-index: 998;
                        display: none;

                        i {
                            width: 32%;
                            text-align: center;
                            font-size: 25px;
                            pointer-events: auto;
                        
                            &:hover {
                                transition: all ease-in 0.15s;
                                color: color("materialize-red", "darken-4");
                            }

                            &.action-disabled {
                                color: #3f3f3f !important;
        
                                &:hover {
                                    color: #3f3f3f !important;
                                }
                            }
                        }
                    }
                }

                &[data-section="contacts"] {
                    color: #000000;
                }
            }
        }

        .inner-phone-nav {
            position: absolute;
            bottom: 0;
            color: #1e1e1e;
            width: 100%;
            background: #ffffff;
            border-top: 1px solid #1e1e1e;

            .phone-nav-button {
                display: inline-block;
                width: 32%;
                text-align: center;
                padding: 15px;
                font-weight: bold;
                font-size: 18px;
                border-bottom: 5px solid transparent;

                &.active-nav {
                    border-bottom: 5px solid color("materialize-red", "darken-4");
                }

                &:hover {
                    cursor: pointer;
                    transition: all ease-in 0.3s;
                    color: color("materialize-red", "darken-4");
                    border-bottom: 5px solid color("materialize-red", "darken-4");
                }
            }
        }
    }
}