#tuner-container {
    background: $alt-text;
    font-family: monospace;

    .inner-app {
        top: 0 !important;
        height: 95% !important;

        .no-chip-error {
            display: none;
            position: absolute;
            z-index: 9999;
            height: 100%;
            width: 100%;
            background: rgba(0,0,0,0.7);

            .error-details {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 90%;
                width: 90%;
                background: $alt-text;
                color: $primary;
                padding: 20px;
                margin: auto;

                .error-header {
                    font-size: 30px;
                    border-bottom: 1px solid $primary;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }

                .error-body {
                    font-size: 14px;
                }

                .error-button {
                    position: absolute;
                    bottom: 3%;
                    left: 5%;
                    text-align: center;
                    width: 90%;
                    
                    button {
                        width: 100%;
                    }
                }
            }
        }

        #tuner-home-screen {
            display: none;

            .tuner-header {
                text-align: center;
                padding-bottom: 5px;
                padding-bottom: 5px;
                padding-top: 24px;
                border-bottom: 1px solid $border-color;
                background-color: $primary;
    
                h3 {
                    color: $main-color;
                    font-size: 35px;
                    font-weight: bold;
                }
    
                h5 {
                    color: $alt-text;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
    
            #tuner-home {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                grid-row-gap: 15px;
                grid-column-gap: 15px;
                margin-top: 15px;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;

                .tuner-button {
                    background-color: $main-color;
                    color: $primary;
                    font-size: 15px;
                    height: 128px;
                    width: 128px;
                    text-align: center;

                    &:hover {
                        transition: all ease-in 0.15s;
                        filter: brightness(85%);
                    }

                    &.tuner-nav {
                        span {
                            display: block;
                            height: fit-content;
                            width: fit-content;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;

                            i {
                                display: block;
                                font-size: 35px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                
                .disclaimer {
                    font-size: 13px;
                    font-weight: bold;
                    padding: 15px;
                    color: $primary-hover;
                    position: absolute;
                    bottom: 0;
                    left: 0;
    
                    &::before {
                        content: '*';
                        color: $main-color;
                    }
                }
            }
        }
    }
}

#tuner-quick-container {
    background: $alt-text;
    font-family: monospace;

    .inner-app {
        top: 0 !important;
        height: 95% !important;

        .tuner-header {
            text-align: center;
            padding-bottom: 5px;
            padding-top: 24px;
            border-bottom: 5px solid $main-color;
            background-color: $primary;

            h3 {
                color: $main-color;
                font-size: 35px;
                font-weight: bold;
            }

            h5 {
                color: $alt-text;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
        }

        #tuner-quick {
            display: none;
            
            .tuner-quick-body {
                height: 81.2%;
                background-color: $alt-text;
                overflow-y: auto;
                overflow-x: hidden;

                .tuner-quick-section {
                    font-size: 25px;
                    text-align: center;
                    color: $primary;
                    width: 100%;
                    padding: 25px;

                    .tuner-quick-buttons {
                        width: 100%;
                        
                        button {
                            width: 100%;
                        }
                    }
                }
                
                .tuner-quick-custom-btn {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    border-top: 5px solid $border-color;

                    button {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}